%buttonDefaults {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: 1.125rem;
}

.btn__black {
  @extend %buttonDefaults;
  background-color: var(--black);
  border: 1px solid var(--black);
  height: 60px;
  padding: 0 1.2rem;
  color: var(--white);
}

.btn__white {
  @extend %buttonDefaults;
  background-color: var(--white);
  border: 1px solid var(--black);
  height: 60px;
  padding: 0 1.2rem;
  color: var(--black);
}
