.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close {
  font-weight: 400;
}

.modal {
  background-color: var(--white);
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.subModal {
  padding: 1.25rem;
}

.button {
  display: flex;
  justify-content: end;
}
